


.part-a {
  display: inline-flex;
  white-space: nowrap;
  position: relative;
  transition: transform .1s ease-out;

}

.part-a + div {
  top: 0;
  left: 0;
}


.is-pressed {
  transform: translateY(4px);
}
