@if (isOpen()) {
  <div class="fixed inset-0 z-40 overflow-hidden pointer-events-none">

    <div
      class="circle-scale bg-dark-c"
      [class.closing]="isClosing()"
      [style.left.px]="circleX()"
      [style.top.px]="circleY()"
    ></div>

    @if (showMenu()) {
      <nav
        class="fixed inset-0 flex items-center justify-center pointer-events-auto"
        >
        <ul
          class="flex flex-col gap-10
          text-5xl font-semibold font-stack-notch-f text-background-c
          text-center"
          >

          @for (item of menuItems(); track item.label; let i = $index) {
            <li
              (click)="goTo(item.page, item.section)"
              class="animate-enter cursor-pointer"
              [style.animation-delay.ms]="i * 50">
              {{ item.label }}
            </li>
          }
        </ul>
      </nav>
    }
  </div>
}
